* {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
html,
body {
  background-color: #07829a;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  max-width: 600px;
  margin-bottom: 24px;
}
.container-input {
  max-width: 480px;
  margin: 14px 0;
}
.container-input span {
  color: white;
  font-size: 22px;
}
.slider {
  width: 100%;
  height: 18px;
  margin-top: 8px;
  border-radius: 5px;
  outline: none;
  background-color: #dfdfdf;
}
.button-cta {
  height: 40px;
  margin-top: 40px;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background-color: #3eb728;
}
.container-res {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  max-width: 480px;
  margin: 14px 0;
}
.title {
  text-align: center;
  font-size: 17px;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #fff;
}
.password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: hsla(0, 0%, 0%, 0.4);
  border-radius: 4px;
  color: #fff;
  border: 1px solid #313131;
  transition: transform 0.5s;
}
.password:hover {
  transform: scale(1.03);
}

.tooltip {
  color: #fff;
  position: relative;
  top: 20px;
  padding: 6px 8px;
  background-color: rgb(15, 15, 15);
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.hide {
  display: none;
}
.container-res:hover .tooltip {
  visibility: visible;
  bottom: 40px;
  opacity: 1;
}
